:local(.TimeLine) {
  ul {
    list-style: none;
    padding: 0;
    .timeline-record:not(:first-child) {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      .timeline-status {
        background-color: red;
        display: inline-flex;
      }
      .timeline-vertical-line {
        position: absolute;
        width: 5px;
        background-color: gray;
        height: 100%;
      }
    }
  }
}