.AgentProfile {
  right: 0;
  top: 95px;
  position: absolute;
  width: 350px;
  height: 100vh;
  z-index: 9999;
  background: white;
  .average-response-time {
    text-align: left;
  }
  .pie-graph {
    text-align: center;
  }  
  .btnClose{
    cursor: pointer;
    cursor: pointer;
    right: 10px;
    position: absolute;
    top: -4px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 109px;
    font-size: 32px;    
  }
}
