.icon-image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
  
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-color: blue;  
}