:local(.LeadNotes) {
  .lead-profile {
    .lead-profile-row {
      padding: 5px;
      .lead-profile-label {
        width: 40%;
        display: inline-flex;
        text-align: left;
        color: gray;
      }
      .lead-profile-value {
        width: 60%;
        display: inline-flex;
        text-align: left;
      }
    }
  }
}